@font-face {
	font-family: Own;
	src: url("resources/Allstar4.ttf");
}

* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	background-color: black;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	cursor: default;
	font-family: Own, san-serif;
}

::-webkit-scrollbar {
	display: none;
}

#menu {
	background-color: black;
	margin: 0px;
	padding: 5%;
	width: 100%;
	min-height: 85%;
	color: white;
	text-align: center;
}

#infos {
	background-color: black;
	margin: 0px;
	padding: 5%;
	width: 100%;
	color: white;
	text-align: center;
}

#win {
	background-color: rgba(0, 0, 0, 0.8);
	margin: 0px;
	padding: 5%;
	width: 100%;
	height: 100%;
	color: white;
	text-align: center;
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	z-index: 3;
	vertical-align: center;
}

#title {
	font-weight: bold;
	font-size: 6vw;
	margin: -20px 20px 20px 20px;
	text-shadow: 3px 3px #ff0000;
	letter-spacing: 30px;
	min-width: 400px;
	word-spacing: 30px;
}

.noletterspacing {
	letter-spacing: normal;
}

#wintext {
	font-weight: bold;
	font-size: 4vw;
	text-shadow: 3px 3px #ff0000;
	letter-spacing: 25px;
	margin-top: 15%;
}

h2 {
	font-weight: bold;
	font-size: 250%;
	text-shadow: 1.5px 1.5px #7777ff;
	letter-spacing: 5px;
	margin-bottom: 30px;
	margin-top: 30px;
}

label {
	font-weight: bold;
	font-size: 120%;
	text-shadow: 0.5px 0.5px #ddffdd;
}

.radiobutton {
	width: 33px;
	height: 33px;
	margin: 7px auto;
	background-image: url("resources/radio_activated_inactive.png");
	background-size: contain;
	background-repeat: no-repeat;
	cursor: pointer;
}

.radiobutton.active {
	background-image: url("resources/radio_activated_active.png");
}

.radiobutton.disabled {
	cursor: not-allowed;
	opacity: 0.5;
}

.menufield {
	color: black;
	margin: 20px;
	background-color: white;
	border: 10px #444444 solid;
	border-radius: 3px;
	min-width: 400px;
}

#infos .menufield {
	padding: 0% 3% 3% 3%;
	margin-bottom: 5%;
}

.form-group {
	margin-top: 30px;
}

#game {
	background-color: black;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	display: none;
	font-size: 0px;
}

#field {
	background-color: black;
	margin: 0px;
	padding: 5%;
	width: 70%;
	height: 100%;
	display: inline-block;
	position: relative;
	overflow: auto;
}

.fieldside {
	background-color: black;
	margin: 0px;
	padding: 0px;
	width: 15%;
	height: 100%;
	display: inline-block;
	text-align: center;
	position: relative;
	vertical-align: top;
}

.sidespace {
	background-color: black;
	height: 80%;
	width: 100%;
}

.stonerow {
	margin: 0px;
	padding: 0px;
	background-color: black;
	font-size: 0px;
	width: 100%;
	text-align: center;
}

.stone {
	width: 150px;
	height: 150px;
	box-shadow: white 0px 0px 0px 3px inset, black 0px 0px 0px 13px inset, black 6.5px 6.5px 52px 0px inset;
	display: inline-block;
	position: relative;
	border-radius: 100%;
	z-index: 1;
	margin: 0px;
}

.red {
	background-color: red;
	color: red;
}

.blue {
	background-color: blue;
	color: blue;
}

.green {
	background-color: green;
	color: green;
}

.yellow {
	background-color: yellow;
	color: yellow;
}

.gray {
	background-color: #111111;
}

.white {
	background-color: white;
}

.white:hover {
	background-color: #DDDDDD;
}

.clickable {
	cursor: default;
}

.points {
	background-color: black;
	font-size: 2.5vw;
	height: 10%;
	margin: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}

#picture {
	width: 100%;
	padding: 20px;
	margin-bottom: 55px;
	cursor: pointer;
	min-width: 440px;
}

#pictureklein {
	width: 100%;
	padding: 20px;
	margin-bottom: 55px;
	cursor: pointer;
	min-width: 440px;
	display: none;
}

#los {
	margin: 20px;
	font-size: 300%;
}

#los:hover {
	text-shadow: 1.5px 1.5px #ff4444;
	cursor: pointer;
}

radio:checked {
	background-color: green;
}

.form-group {
	height: 60px;
	margin-bottom: 20px;
}

.form-control {
	box-shadow: none;
}

.form-control:focus {
	box-shadow: none;
}

.col-form-label {
	padding-top: 20px;
	text-align: left;
}

label {
	width: 100%;
	font-size: 120%;
}

.col-xs-6 label {
	font-size: 90%;
}

.col-xs-6,
.col-xs-4 {
	padding: 0px;
}

dt {
	margin-top: 10px;
	font-size: 135%;
}

dd {
	text-align: justify;
	font-size: 120%;
	padding-bottom: 15px;
}

dl {
	margin: 0px;
}

#close {
	color: red;
	float: right;
}

#close:hover {
	color: black;
	cursor: pointer;
}

#dev {
	margin-top: 7px;
	float: left;
}

a:hover,
a:visited,
a:link,
a:active {
	text-decoration: none;
	color: blue;
}

a:hover {
	text-decoration: none;
	color: #5555FF;
}

.notallowed {
	cursor: not-allowed;
}

.nopointerevent {
	pointer-events: none;
}

@media (max-width: 1272px) {
	.col-md-5 {
		width: 83.33333333%;
		margin-left: 8.33333333%;
	}

	#picture {
		display: none;
	}

	#pictureklein {
		display: block;
	}
}

@media (max-width: 991px) {
	.col-md-5 {
		width: 100%;
		margin-left: 0%;
	}
}

.rangeslider--horizontal {
	height: 10px;
	width: 75%;
	margin: 25px auto 12px auto;
}

.rangeslider__handle {
	width: 25px;
	height: 25px;
	font-size: 100%;
	padding: 4px 0px 0px 1px;
}

.rangeslider--horizontal .rangeslider__handle {
	top: -8px;
}

.rangeslider__handle:after {
	display: none;
}

.rangeslider__fill {
	background: rgba(102, 102, 102, 0.5);
	position: absolute;
}

input[type="range"]:focus+.rangeslider .rangeslider__handle {
	box-shadow: none;
}

#player+.rangeslider .rangeslider__handle {
	padding: 1px 0px 0px 1px;
}

.rangeslider--disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.rangeslider--disabled .rangeslider__handle {
	cursor: not-allowed;
}

#myname {
	font-family: 'Audiowide', cursive;
	font-size: 105%;
}